html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

section > div:nth-child(2),
section > div:last-child  {
  display: none;
}

@media only screen and (min-width: 25em){

  section > div:nth-child(2),
  section > div:nth-child(5) {
    display: block;
  }

  section {
    display: flex;
    flex-wrap: wrap;
  }

  section > div:nth-child(2),
  div:nth-child(3),
  div:nth-child(4),
  div:last-child {
    width: 50%;
  }
}
